*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-foreground: white;
  --hamburger-background: #295273;
  --foreground: white;
  --background: #295273;
  --hamburger-top: 120px;
  --hamburger-right: 50px;
  --sidebar-top: -30px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--hamburger-background);
  border-radius: 600px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-top);
  right: var(--hamburger-right);
  z-index: 2;
}

.mobile-nav a {
  color: white;
}

.mobile-nav {
  text-align: right;
  font-size: 24px;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked) {
  --foreground: #295273;
  --background: white;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--hamburger-foreground);
  box-shadow: 0 0 0 1px var(--hamburger-background);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar .hidden {
  transition: translate var(--animation-timing);
  translate: 150%;
  margin-top: calc(var(--sidebar-top) + var(--hamburger-right));
  background-color: var(--hamburger-background);
  color: var(--hamburger-foreground);
  height: 100vh;
  padding: 1rem 1.5rem;
  line-height: 2;
  display: none;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 150%;
  margin-top: calc(var(--sidebar-top) + var(--hamburger-right));
  background-color: var(--hamburger-background);
  color: var(--hamburger-foreground);
  height: 100vh;
  padding: 1rem 1.5rem;
  line-height: 2;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

header a {
  text-decoration: none;
}

.logo {
  display: block;
  width: 120px;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

header {
  padding: 0 20px;
  height: 120px;
  margin-bottom: 40px;
}

.brand {
  display: flex;
  align-items: end;
}

.brand a {
  color: #295273;
}

nav ul li {
  color: #295273;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: right;
  justify-content: right;
}

ul li {
  padding: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 500;
  margin-top: -100px;
}

ul li:hover {
  background-color: #ddd;
  color: #295273;
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  header .main-menu {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .hamburger-menu {
    display: none;
  }
}

.slogan {
  text-align: center;
  font-size: 44px;
  color: white;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 1.5s;
  transition-property: opacity;
  margin-bottom: 40px;
  margin-top: 20px;
}

.about-section {
  display: flow-root;
  border: black 1px solid;
  border-radius: 5px;
  background: #295273;
  margin-top: -20px;
}

.about-paragraph {
  color: white;
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
  margin: 20px;
}

.about-paragraph-two {
  display: block;
  margin: 15px auto;
}

.contact-kate-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #1d57a4;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

.contact-kate-button:hover {
  background: #38b6ff;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.button-contact-kate a {
  text-decoration: none;
}

.local {
  width: 250px;
  height: 150px;
  float: left;
  border-radius: 8px;
  margin-top: 10px;
  object-fit: cover;
  border: 2px solid white;
  margin: 20px;
}

.services-section {
  margin-left: 20px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  border: 1px solid white;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 10px;
  object-fit: cover;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border: 1px solid white;
}

.image-gallery img:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  font-style: italic;
  padding: 5px;
  margin-top: 40px;
  color: #295273;
}

.contact-methods {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 20px;
  justify-content: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 18px;
  color: #1d57a4;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #295273;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #38b6ff;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.button1 a {
  text-decoration: none;
}

.button2 a {
  text-decoration: none;
}

.coded-by {
  padding: 20px;
}

.coded-by a {
  text-decoration: none;
}
