.content {
  margin: 20px auto;
}

.container {
  width: 90%; /* flexible width */
  max-width: 1000px;
  margin: 20px auto;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  max-width: 1000px;
}

.logo {
  display: block;
  width: 75px;
  margin: 0 auto;
  padding-bottom: 20px;
}

header {
  color: #1d57a4;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
}

h2 {
  color: #1d57a4;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: -20px;
}

.webinar {
  text-align: center;
}

.date {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.title {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 10px;
  margin-top: 20px;
}

.social-media .date {
  margin-left: 20px;
}

.social-media .title {
  margin-left: 20px;
  margin-top: 40px;
}

.website-development .date {
  margin-left: 20px;
}

.website-development .title {
  margin-left: 20px;
  margin-top: 40px;
}

p {
  margin-left: 10px;
}

.credentials {
  color: #1d57a4;
  text-align: center;
  font-weight: 400px;
  font-size: 16px;
}

.image_container{
  display: flow-root;
}

.digital-ads {
  display: flow-root;
  background: #295273;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.digital-ads-image {
  float: left;
  height: 200px;
  width: 190px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px;
}

.digital-ads-paragraph {
  margin-left: 1em;
}

p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin: 10px;
  margin-left: 20px;
}

.register {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.social-media {
  display: flow-root;
  background: white;
  color: #295273;
  border: 1px solid #295273;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-media-image {
  float: right;
  height: 200px;
  width: 200px;
  border: 1px solid #295273;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.social-media-paragraph {
  margin-left: 1em;
  padding-left: 20px;
}

.podcast {
  display: flow-root;
  background: #295273;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.podcast-image {
  float: left;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px;
}

.podcast p {
  margin-left: 1em;
}

.podcast-end {
  margin-top: 100px;
}

.website-development {
  display: flow-root;
  background: white;
  color: #295273;
  border: 1px solid #295273;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.website-development-image {
  float: right;
  height: 200px;
  width: 200px;
  border: 1px solid #295273;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.website-development p {
  margin-left: 1em;
}

strong {
  font-weight: 900;
}

footer {
  text-align: center;
  font-style: italic;
  padding: 5px;
  margin-top: 40px;
  color: #295273;
}

.contact-methods {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 20px;
  justify-content: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 18px;
  color: #1d57a4;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #295273;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #38b6ff;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.button1 a {
  text-decoration: none;
}

.button2 a {
  text-decoration: none;
}

.coded-by {
  padding: 20px;
}

.coded-by a {
  text-decoration: none;
}

/* Default: desktop-first styles */

/* Tablets */
@media (max-width: 1024px) {
  .container {
    padding: 1rem;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .credentials {
    margin-top: 40px;
}

/* Phones */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    font-size: 1.2rem;
  }
  .cta-button {
    width: 100%; /* full width button for easy tapping */
  }

  .credentials {
    margin-top: 40px;
  }

  .date{
    font-size: 14px;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

.features {
  display: flex;
  gap: 20px;
}
.features > div {
  flex: 1;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .credentials {
    margin-top: 40px;
}
